.mainContainer{
    display: flex;
    background-color: var(--gray1);
    margin: 0 auto;
    justify-content: flex-start;
}

.card{
    max-width: 320px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 7px 0 #333;
    border-radius: 2px;
    background-color: var(--gray1);
    transition: all .2s ease;
    margin: 12px;
    padding: 12px;

    &:hover{
        transform: scale(1.02);
        cursor: pointer;
    }

    button{
        background-color: var(--secondary);
        color: var(--black2);
        height: 32px;
        padding: 8px;
        transition: all ease-in-out .2s;
        text-transform: uppercase;

        &:hover{
            transform: scale(1.008);
            color: var(--white);
        }
    }

    span, strong, p{
        margin: 8px auto;
    }

    strong{
        font-weight: bold;
        color: var(--gray2)
    }

    span{
        color: var(--gray2);
        width: 180px;
        text-align: center;
    }

    img{
        width: 140px;
        height: 180px;
    }

}

.productsContainer{
    display: flex;
    justify-content: flex-start;
    width: 75%;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 2rem auto;
    overflow-y: auto;
}


.menu{
    width: 260px;
    background-color: var(--primary2);
    color: var(--gray1);
    padding: 2rem 1rem;
    margin-top: 2px;
  
    strong{
        font-size: 1.25rem;
        color: var(--secondary2);
        margin-top: 2rem;
    }
    
    ul, li{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    button{
        font-size: .8rem;
        line-height: 2rem;
        transition: all .2s ease;
        margin-left: -24px;
        background: none;
        color: var(--gray)
    }
    
    button:hover{
        color: var(--gray2);
        cursor: pointer;
        font-size: .9rem;
        background: var(--secondary2);
    }
}

.header{
    width: 100%;
    height: 88px;
    display: flex;
    background-color: var(--primary);
    border-bottom: 2px solid var(--secondary);
    padding: .8rem;
    transition: all .3s ease-in-out;
    
    h2{
        color: var(--gray1);
        font-size: 1.4rem;
    }
}

.headerHide{
    height: 4px;
    position: fixed;


}


@media(max-width: 720px){
    .card{
        margin: 12px auto;
    }
    .menu{
        display: none;
    }
}
