.header{
    width: 100%;
    height: 120px;
    display: flex;
    background-color: var(--primary);
    border-bottom: 2px solid var(--secondary);
    padding: .8rem;
    transition: all .3s ease-in-out;

    .menu{
        width: 260px;
        color: var(--gray1);
        margin: 1rem auto;
        display: flex;
        justify-content: center;

      
        strong{
            font-size: 1.25rem;
            color: var(--secondary2);
            margin-top: 2rem;
        }
        
        ul, li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100%;
        }
        
        button{
            font-size: .8rem;
            width: 100%;
            line-height: 1.2rem;
            transition: all .2s ease;
            margin-left: -24px;
            background: none;
            color: var(--gray)
        }
        
        button:hover{
            color: var(--gray2);
            cursor: pointer;
            font-size: .9rem;
            background: var(--secondary2);
        }
    }
    
    h2{
        color: var(--gray1);
        font-size: 1.4rem;
        cursor: pointer;
    }
    
    .rigthContent{
        display: flex;
        flex-direction: column;
        color: var(--white);
        width: 320px;
        position: absolute;
        right: 20px;
    }
    span{
        margin:  1rem;
        margin-left: 70%;
    }

    strong{
        color: var(--white);
    }

   

    .cartContainerHide{
        display: none;
    }



    .cartScrollContainer{
        display: flex;
        padding: 4px;
        border-bottom: 1px dashed #888;
        overflow-y: hidden;

        p{
            font-size: .8rem;
            margin-left: 12px;
        }

        img:hover{
            cursor: pointer;
        }
    }

    .rigthContent{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: var(--white);
        width: 320px;
        right: 20px;
        margin-bottom: 2rem;
        
        button{
            display: flex;
            color:var(--white);
            background: var(--secondary);
            padding: 2px;
            transition: all .2s ease;
            cursor: pointer;
            margin-top: 1rem;
        }
        .btnCart{
            border: none;
            background: var(--primary2);
            display: flex;
            position: absolute;
            right: 18px;
            top: 60px;
            padding: 2px;
            margin-bottom: 2rem;
        }
    }

    

    strong{
        color: var(--white);
    }

}

.headerHide{
    height: 4px;
    position: fixed;
}

@media(min-width: 720px){
    .header{
        .menu{
            display: none;
        }
    }
}


@media(max-width: 720px){
    .header{
        height: 40vh;
        flex-direction: column;
        align-items: center;

        h2{
            font-size: 1rem;
        }

        strong{
            font-size: .85rem;
            width: 50%;
        }

        

        .rigthContent{
            position: relative;
            margin-left: 2rem;
            button{
                margin-top: 3rem;
                background: cyan;
            }
        }
    }
}
