.banner{

    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: var(--secondary);

   img{
    width: 70%;
    margin: 0 auto;
   }
}


@media(max-width: 720px){
    .banner{
        display: none;
    }
}